<h1>Generic Form</h1>

<div style="margin: 10px">
  <div class="angular-stuff-menu">
    <div class="btn b2" [class.active]="formKey==='form1'" (click)="changeForm('form1')"><span>Misc Data</span></div>
    <div class="btn b2" [class.active]="formKey==='form2'" (click)="changeForm('form2')"><span>Objects</span></div>
    <div class="btn b2" [class.active]="formKey==='form3'" (click)="changeForm('form3')"><span>Arrays</span></div>
    <div class="btn b2" [class.active]="formKey==='form4'" (click)="changeForm('form4')"><span>Async</span></div>
  </div>
</div>


<div style="margin: 10px 20px 20px">

  <div style="display: flex; min-height: 200px" #form1>

    <div style="flex: 1;">
      <generic-form *ngIf="!editMode" [formDef]="formDef" [model]="model"
                    (modelChange)="modelChange($event)"></generic-form>
      <textarea *ngIf="editMode" [(ngModel)]="formDefJson"
                style="margin: 0 0 0 10px; width: calc(100% - 15px); height: calc(100vh - 300px); white-space: nowrap; resize: none"></textarea>
    </div>

    <div [ngStyle]="{width: width + 'px'}">
    <pre class="model-result codeblock" *ngIf="!editMode"
         style="margin-left: 10px; overflow: scroll; width: calc( 100% - 10px ); height: 100px">{{model_input_string}}</pre>
      <pre class="model-result  codeblock" *ngIf="!editMode"
           style="margin-left: 10px; overflow: scroll; width: calc( 100% - 10px ); height: calc( 100% - 135px )">{{model_string}}</pre>
      <textarea *ngIf="editMode" [(ngModel)]="modelJson"
                style="margin: 0 0 0 10px; width: calc(100% - 15px); height: calc(100vh - 300px); white-space: nowrap; resize: none"></textarea>
    </div>

    <split-bar
      [container]="form1" [positionRight]="width - 6"
      [outsideIntervalTime]="250"
      (newPosition)="width = $event.right"
    ></split-bar>

  </div>


  <div *ngIf="canEdit" style="text-align: right">
    <span style="color: red; margin: 0 20px; font-family: monospace;">{{editError}}</span>

    <div style="display: flex">
      <div class="angular-stuff-menu" style="flex: 1">
        <div class="btn bWide" [class.active]="editMode" (click)="toggleEdit()"><span *ngIf="!editMode">Edit Form</span><span *ngIf="editMode">Apply Changes</span></div>
        <div class="btn bWide yellow" *ngIf="editMode" (click)="cancelEdit()"  style="width: 200px; margin-left: 20px" ><span>Cancel</span></div>
      </div>
    </div>


  </div>


  <div *ngIf="asyncFormOptionsObservable">
    <div style="margin: 10px 0">
      Update the Options Observable with the Options below:
      <button (click)="form3UpdateSelection()">update</button>
    </div>
    <input type="text" style="width: calc(100% - 20px)" [(ngModel)]="selectOptionsJson"/>
  </div>

</div>
