<h1>Generic Form</h1>

<div style="margin: 10px">
  <div class="angular-stuff-menu">
    <div class="btn b2" [class.active]="formKey==='form1'" (click)="changeForm('form1')"><span>Misc Data</span></div>
    <div class="btn b2" [class.active]="formKey==='form2'" (click)="changeForm('form2')"><span>Objects</span></div>
    <div class="btn b2" [class.active]="formKey==='form3'" (click)="changeForm('form3')"><span>Arrays</span></div>
    <div class="btn b2" [class.active]="formKey==='form4'" (click)="changeForm('form4')"><span>Async</span></div>
    <div class="btn b2" [class.active]="formKey==='form5'" (click)="changeForm('form5')"><span>Conditions</span></div>
  </div>
</div>


<div style="margin: 10px 20px 20px">

  <div class="displayFlex" style="min-height: 200px" #form1>

    <div class="flex1">
      <generic-form *ngIf="!editMode" [formDef]="formDef" [model]="model"
                    (modelChange)="modelChange($event)"  (validChange)="validChange($event)"></generic-form>
      <textarea *ngIf="editMode" [(ngModel)]="formDefJson"
                style="margin: 0 0 0 10px; width: calc(100% - 15px); height: calc(100vh - 340px); white-space: nowrap; resize: none"></textarea>
    </div>

    <div [ngStyle]="{width: width + 'px'}">
      <div style="margin-left: 10px; ">
        <div class="form-description" *ngIf="!editMode">Input:</div>
        <pre class="model-result codeblock" *ngIf="!editMode"
             style=" overflow: scroll; width: calc( 100% - 10px ); height: 100px">{{model_input_string}}</pre>
        <div class="form-description" *ngIf="!editMode">Output:  <span *ngIf="isValid == true" style="color: green" class="form-valid">✓</span> <span *ngIf="isValid === false" style="color: red"  class="form-invalid">⨉</span></div>
        <pre class="model-result  codeblock" *ngIf="!editMode"
             style=" overflow: scroll; width: calc( 100% - 10px ); height: calc( 100vh - 380px )">{{model_string}}</pre>
        <textarea *ngIf="editMode" [(ngModel)]="modelJson"
                  style="margin: 0 0 0 10px; width: calc(100% - 15px); height: calc(100vh - 340px); white-space: nowrap; resize: none"></textarea>
      </div>
    </div>

    <split-bar
      [container]="form1" [positionRight]="width - 6"
      [outsideIntervalTime]="250"
      (newPosition)="width = $event.right"
    ></split-bar>

  </div>


  <div *ngIf="canEdit" style="text-align: right">
    <span style="color: red; margin: 0 20px; font-family: monospace;">{{editError}}</span>

    <div style="display: flex">
      <div class="angular-stuff-menu" style="flex: 1">
        <div class="btn bWide" [class.active]="editMode" (click)="toggleEdit()"><span *ngIf="!editMode">Edit Form</span><span
          *ngIf="editMode">Apply Changes</span></div>
        <div class="btn bWide yellow" *ngIf="editMode" (click)="cancelEdit()" style="width: 200px; margin-left: 20px">
          <span>Cancel</span></div>
      </div>
    </div>


  </div>

  <div *ngIf="optionObservables.length" >
    <div style="margin: 10px 0">
      Update the Options Observable Value:
      <div *ngFor="let optionObservable of optionObservables; let idx = index" style="margin: 10px 0;" class="optionsSet">
        <div class="displayFlex">
          <div>{{optionObservable.path}}:</div>
          <input type="text" class="flex1" style="margin: 0 10px" [(ngModel)]="optionObservable.jsonString"/>
          <button (click)="formUpdateSelectionObservable(optionObservable)">update</button>
        </div>

      </div>
    </div>
  </div>

</div>
