
<div class="angular-stuff-menu">
  <div class="btn b1" (click)="showGenericForm()">
    <span>Generic Form</span>
  </div>
  <div class="btn b1" (click)="showSplitBar()">
    <span>Split Bar / Info Panel</span>
  </div>
  <div class="btn b1" (click)="showSvgTools()">
    <span>SVG-Path Tools</span>
  </div>
</div>


<generic-form-showcase *ngIf="showPage === 'form'"></generic-form-showcase>

<bar-and-panel-showcase *ngIf="showPage === 'split_bar'"></bar-and-panel-showcase>

<svg-path-showcase *ngIf="showPage === 'svg_tools'"></svg-path-showcase>
