<h1>Split Bar</h1>

<h2>Vertical</h2>

<div #vertical
     style="margin-top: 20px; display: block; margin-left: 50px; width: 500px; height: 100px; background: #e1e1e1; position: relative">

  <div style="position: absolute; display: block; top: 30px; height: 50px; background: #ced4da"
       [ngStyle]="{left: left+'px', width: width+'px'}"></div>

  <split-bar
    [container]="vertical" [positionLeft]="left + width"
    [outsideIntervalTime]="250"
    (newPosition)="onDragRight($event)"
    (outsideRight)="onOutsideRight()"
    (exitRight)="onExitRight()"
    (moveEnd)="onMoveEnd()"
  ></split-bar>

  <split-bar
    [container]="vertical" [positionLeft]="left"
    [outsideIntervalTime]="250"
    (newPosition)="onDragLeft($event)"
    (outsideLeft)="onOutsideLeft()"
    (exitLeft)="onExitLeft()"
    (moveEnd)="onMoveEnd()"
  ></split-bar>

  <div>
    left: {{left}} width: {{width}} {{textOutside}}
  </div>

</div>


<div #infoPanelContainer1
     style="margin: 20px; display: block; margin-left: 50px; width: calc( 100vw - 100px ); height: 400px; background: #e1e1e1; position: relative">

  <info-panel [container]="infoPanelContainer1" [margin]="0">
    <div
      style="width: 300px; height: 100px; display: flex; align-items: center; justify-content: center; background: #ced4da">
      Here is the info content
    </div>
  </info-panel>

  <div>
    Info Panel
  </div>

</div>


<div #infoPanelContainer2
     style="margin: 20px; display: block; margin-left: 50px; width: calc( 100vw - 100px ); height: 400px; background: #e1e1e1; position: relative">

  <info-panel [container]="infoPanelContainer2" [margin]="20" [animate]="1000" [anchor]="'bottom'">
    <div
      style="width: 300px; height: 100px; display: flex; align-items: center; justify-content: center; background: #ced4da">
      This content likes to be at the bottom
    </div>
  </info-panel>

  <info-panel [container]="infoPanelContainer2" [margin]="0" [animate]="500" [direction]="'horizontal'">
    <div
      style="width: 100px; height: 200px; display: flex; align-items: center; justify-content: center; background: #ced4da">
      left and right
    </div>
  </info-panel>

  <div>
    Info Panel with aninmation
  </div>

</div>


<div #infoPanelContainer3
     style="margin: 20px; display: block; margin-left: 50px; width: calc( 100vw - 100px ); height: 400px; background: #e1e1e1; position: relative"
     (click)="showSticky($event)">

  <info-panel [container]="infoPanelContainer3" [margin]="20" [animate]="500" [direction]="'horizontal'" [sticky]="true"
              [stickyVisible]="stickyPanelVisible">
    <div
      (click)="hideSticky($event)"
      style="width: 85px; height: 200px; padding: 10px; display: flex; align-items: center; justify-content: center; background: #ced4da">
      this is sticky, click to hide
    </div>
  </info-panel>

  <div>
    Info Panel that is sticky
  </div>

</div>

